aside {text-align:center;}

h3 {
   padding-top: 16px;
   color:antiquewhite
}
section {
    margin-top: 15px;
}

.content{
    margin-top: 56px;
    @media (min-width: 600px) {
        margin-top: 64px;
    }
}